*
  box-sizing: border-box
  &::after, &::before
    box-sizing: border-box

body
  color: $primary
  background-color: $secondary
  font-family: 'Roboto', sans-serif
  font-style: normal
  font-size: 62.5%
  font-weight: 400
  @include scrollbars(1rem, 0.4rem, $footer-text-color, $secondary)

a
  text-decoration: none

a, input
  color: inherit

.container
  max-width: 1240px
  margin: auto

img
  max-width: 100%
