
.header
   &__wrapper
      display: flex
      align-items: center
      justify-content: space-between
      padding: 1.5rem 0
      box-shadow: 0 .2rem  3px -3px $primary-shadow
   &__title
      font-size: 3.2rem
      font-weight: 700
      text-shadow: .1rem .2rem 3px $primary-shadow
   &__contacts
      display: flex
      align-items: center
      justify-content: space-between
      width: 12rem
   &__link
      width: 3rem
      height: 3rem
      border-color: transparent
      border-radius: 50%
      background-color: $link-color
      display: flex
      align-items: center
      justify-content: center
      box-shadow: .1rem .2rem 3px $secondary-shadow
      &:hover
         box-shadow: .07rem .15rem 3px $secondary-shadow
   &__icon
      width: 1.2rem
      height: 1.2rem
      fill: $primary
