.profile
  padding: 3rem 0
  &__title
    
    margin: 3.2rem 0 4.8rem
.project
  &__item
    display: grid
    grid-template-columns: 2fr 5fr
    grid-column-gap: 1.5rem
    width: 100%
    min-height: 15rem
    border-radius: 1rem
    padding: 1.5rem
    background-color: $project-color
    box-shadow: .1rem .2rem 3px $secondary-shadow
    &:not(:last-child)
      margin-bottom: 4.8rem
  &__preview
    width: 100%
    min-height: 20rem
    max-height: 24rem
    display: block
    background-color: #fff
    border-radius: 1rem
    overflow: hidden
  &__info
    display: flex
    flex-direction: column
    justify-content: space-between
  &__name
    flex-basis: 10%
    font-size: 2.9rem
    font-weight: 500
    margin: 1rem 0
  &__description
    flex-basis: 70%
    font-size: 1.9rem
    font-weight: 400
    margin: 0
  &__footer
    margin-top: 1rem
    flex-basis: 20%
    font-size: 1.2rem
    font-weight: 400
